#background-chooser {
  border-radius: 50%;
  border: 2px outset gold;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;

  img {
    display: none;
    height: 100%;
    width: 100%;
  }
}

#background-chooser:hover {
  border-radius: 5px;
  height: auto;

  img {
      display: block;
  }

  img:hover {
    box-shadow: 2px 2px 5px black;
  }
}
