<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Church Slide Viewer</title>
  </head>
  <body>
    <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase-firestore.js"></script>
    <script>
      firebase.initializeApp({
        apiKey: "AIzaSyCHEoNNKGQZ79iyi920mAekw7sDVm6EyDU",
        authDomain: "presentation-ec06b.firebaseapp.com",
        databaseURL: "https://presentation-ec06b.firebaseio.com",
        projectId: "presentation-ec06b",
        storageBucket: "presentation-ec06b.appspot.com",
        messagingSenderId: "407739535503"
      })
      const db = firebase.firestore()
      db.settings({
        timestampsInSnapshots: true
      })
    </script>
    <script src="../js/login.js"></script>
  </body>
</head>
